<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link
      rel="shortcut icon"
      type="image/png"
      href="images/favicon-32x32.png"
    /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Poppins:wght@400;500;700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="./output.css" />
    <script src="js/script.js" defer></script>
    <title>GetIntern</title>
</head>

<body>
    <div class="min-h-screen bg-white sm:bg-lightbg flex   md:p-0">
        <div class="container flex justify-center md:items-center max-w-5xl  mx-auto">
            <div class="flex w-full sm:max-w-lg xl:max-w-full  justify-center xl:justify-between xl:space-x-10 sm:p-5 lg:border border-gray-200 bg-white xl:w-full  rounded-xl">
                <div class="w-1/2 bg-lightbg hidden xl:flex rounded-md sm:p-8">
                    <div class="flex flex-col justify-between max-w-xs">
                        <h1 class="font-bold text-blue text-2xl">
                            <a href="">GI</a>
                        </h1>
                        <div class="space-y-5">
                            <h5 class="p-0 lowercase">Let us help you to find your dream job.</h5>
                            <p>Our registration process is quick and easy, taking no more than 5 minutes to complete.</p>
                        </div>
                        <div class="relative bg-darkGray space-y-4 px-5 py-6 rounded-md overflow-hidden">
                            <img src="assets/images/quotes.svg" class="absolute -top-4 left-5" alt="">
                            <div>
                                <p class="text-white">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem sunt itaque iusto natus ipsa doloribus.
                                </p>
                            </div>
                            <div class="flex space-x-5">
                                <div class="w-10 h-10 rounded-full" style="background-image: url(assets/images/prodilepic.jpg); background-position: center;background-size: cover;background-repeat: no-repeat;"></div>
                                <div class="flex flex-col text-sm">
                                    <span class="text-white">slimane sedrati</span>
                                    <span class="text-mediumGray">Ui/Ux Designer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col w-full justify-center p-5  space-y-8 xl:w-1/2">
                    <div>
                        <h5 class="p-0 text-left mb-2">get started</h5>
                        <p class="text-left text-md font-medium ">Create your account now</p>
                    </div>
                    <form action="" method="" class="flex flex-col space-y-3">
                            <div class="flex flex-col sm:flex-row space-x-0 sm:space-x-2  ">
                                <div class=" relative py-3 text-darkGray">
                                    <label for="firstname" id="label_firstname"
                                        class="duration-300 absolute top-0 left-3  text-xs bg-white py-1 px-2">First
                                        name</label>
                                    <input id="firstname" type="text" placeholder="first name" class="
                            py-3 px-5 border  w-full rounded-md duration-300 focus:outline-accentBlue">
                                </div>
                                <div class=" relative py-3 text-darkGray">
                                    <label for="lastname" id="label_lastname"
                                        class="duration-300 absolute top-0 left-3  text-xs bg-white py-1 px-2">Last
                                        name</label>
                                    <input id="lastname" type="text" placeholder="first name" class="
                            py-3 px-5 border  w-full rounded-md duration-300 focus:outline-accentBlue">
                                </div>
                            </div>
                            <div class=" relative py-3 text-darkGray">
                                <label for="email" id="label_email"
                                    class="duration-300 absolute top-0 left-3  text-xs bg-white py-1 px-2">Email
                                    </label>
                                <input id="email" type="email" placeholder="slimane@exemple.com" class="
                  py-3 px-5 border  w-full rounded-md duration-300 focus:outline-accentBlue">
                            </div>
                            <div class="m relative py-3 text-darkGray">
                                <label for="password" id="label_password"
                                    class="duration-300 absolute top-0 left-3  text-xs bg-white py-1 px-2">password</label>
                                <input id="password" type="password" placeholder="password" class="
                  py-3 px-5 border w-full rounded-md duration-300 focus:outline-accentBlue">
                            </div>
                            <button class="btn w-full rounded-md my-3">Sign In</button>
                    </form>
                    <div class="text-mediumGray font-medium space-x-1 text-sm py-2">
                        <span> Have an account?</span> <a href=""
                            class="hover:text-accentBlue text-blue duration-100">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>